<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>servletclass.UserAdd</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servletclass.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserPlusServlet</servlet-name>
    <servlet-class>servletclass.UserPlusServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PowerServlet</servlet-name>
    <servlet-class>servletclass.PowerServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>ActorServlet</servlet-name>
    <servlet-class>servletclass.ActorServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>UserDeleteOkServlet</servlet-name>
    <servlet-class>servletclass.UserDeleteOkServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>UserModifyOkServlet</servlet-name>
    <servlet-class>servletclass.UserModifyOkServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>LoginServlet</servlet-name>
    <servlet-class>servletclass.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActorModifyOkServlet</servlet-name>
    <servlet-class>servletclass.ActorModifyOkServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActorAddServlet</servlet-name>
    <servlet-class>servletclass.ActorAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActorDeleteOkServlet</servlet-name>
    <servlet-class>servletclass.ActorDeleteOkServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>PowerModifyOkServlet</servlet-name>
    <servlet-class>servletclass.PowerModifyOkServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PowerDeleteOkServlet</servlet-name>
    <servlet-class>servletclass.PowerDeleteOkServlet</servlet-class>
  </servlet>
 <servlet>
  	<servlet-name>PowerAddServlet</servlet-name>
    <servlet-class>servletclass.PowerAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusinessHistoryServlet</servlet-name>
    <servlet-class>servletclass.BusinessHistoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusinessConsumerServlet</servlet-name>
    <servlet-class>servletclass.BusinessConsumerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusinessTurnoverServlet</servlet-name>
    <servlet-class>servletclass.BusinessTurnoverServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>BusinessHistoryPlusServlet</servlet-name>
    <servlet-class>servletclass.BusinessHistoryPlusServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>PartUserServlet</servlet-name>
    <servlet-class>servletclass.PartUserServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>UserMyselfModifyServlet</servlet-name>
    <servlet-class>servletclass.UserMyselfModifyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewBusinessServlet</servlet-name>
    <servlet-class>servletclass.NewBusinessServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusinessServlet</servlet-name>
    <servlet-class>servletclass.BusinessServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BussinessFinishServlet</servlet-name>
    <servlet-class>servletclass.BussinessFinishServlet</servlet-class>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>BussinessFinishServlet</servlet-name>
    <url-pattern>/BussinessFinishServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>BusinessServlet</servlet-name>
    <url-pattern>/BusinessServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>NewBusinessServlet</servlet-name>
    <url-pattern>/NewBusinessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserMyselfModifyServlet</servlet-name>
    <url-pattern>/UserMyselfModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PartUserServlet</servlet-name>
    <url-pattern>/PartUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BusinessHistoryPlusServlet</servlet-name>
    <url-pattern>/BusinessHistoryPlusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BusinessTurnoverServlet</servlet-name>
    <url-pattern>/BusinessTurnoverServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BusinessHistoryServlet</servlet-name>
    <url-pattern>/BusinessHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BusinessConsumerServlet</servlet-name>
    <url-pattern>/BusinessConsumerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PowerDeleteOkServlet</servlet-name>
    <url-pattern>/PowerDeleteOkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActorDeleteOkServlet</servlet-name>
    <url-pattern>/ActorDeleteOkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/UserAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>UserPlusServlet</servlet-name>
    <url-pattern>/UserPlusServlet</url-pattern>
  </servlet-mapping>	
   <servlet-mapping>
    <servlet-name>ActorServlet</servlet-name>
    <url-pattern>/ActorServlet</url-pattern>
  </servlet-mapping>	
   <servlet-mapping>
    <servlet-name>PowerServlet</servlet-name>
    <url-pattern>/PowerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteOkServlet</servlet-name>
    <url-pattern>/UserDeleteOkServlet</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>UserModifyOkServlet</servlet-name>
    <url-pattern>/UserModifyOkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PowerModifyOkServlet</servlet-name>
    <url-pattern>/PowerModifyOkServlet</url-pattern>
  </servlet-mapping>	
   <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActorModifyOkServlet</servlet-name>
    <url-pattern>/ActorModifyOkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PowerAddServlet</servlet-name>
    <url-pattern>/PowerAddServlet</url-pattern>
  </servlet-mapping>  

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
